*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 1.25rem;
}



a:any-link{
    color: #000;
    text-decoration: none;
}

img{
    display: block;
}


header{
    background-color: papayawhip;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

header img {
    border-radius: 50%;
    width: 100%;
    animation: imgRotate 1s linear 0s infinite forwards;
}

@keyframes imgRotate {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

ul{
    width: 50%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: lightgray;
    text-align: center;
}

main figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

main img{
    width: 25%;
    height: auto;
    border-radius: 50%;
}

#contact form fieldset{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#contact form input{
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

#contact form textarea{
    text-align: center;
    border-radius: 1em;
}

@media screen and (max-width:360px) {
    header{
        display: none;
    }
}


@media screen and (min-width:360px) {
    header{
        display: none;
    }
}

@media screen and (min-width:720px){
    header{
        display: flex;
    }
}

@media screen and (min-width:1024px){
    #contact form fieldset{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    #contact form fieldset textarea{
        margin-top: 10px;
        column-span: all;
    }

}